.logolink {
  margin-top: 2px;
  background-color: rgba(88, 70, 180, 0.66);
  border-style: solid;
  border-width: 2px;
  border-color: #0504af;
  border-radius: 50px;
  color: #f1ebba; }

.realdeallogo {
  width: 3rem; }

a {
  font-size: "xx-large"; }

.splash-jumbo {
  min-height: 70rem;
  text-align: right;
  background-image: url(https://scontent-dft4-2.xx.fbcdn.net/v/t31.0-8/11062428_10105231845571565_3157298149122899086_o.jpg?oh=ad12ce7c659d31a621fc2756498050d3&oe=59760BC5);
  width: 100%;
  opacity: .7;
  background-size: cover; }
  .splash-jumbo .jumbotext {
    font-size: 8rem;
    text-align: right;
    margin-top: 25%;
    text-shadow: 2px 2px #f5f5f5;
    color: plum;
    color: rgba(88, 70, 180, 0.66); }
  .splash-jumbo .jumbotext2 {
    font-size: 5rem;
    text-align: right;
    text-shadow: 2px 2px #f5f5f5;
    color: plum;
    color: rgba(88, 70, 180, 0.66); }

.navbar {
  margin-bottom: 0;
  color: #f1ebba;
  background-color: rgba(88, 70, 180, 0.66); }
  .navbar .btn {
    width: 13rem; }
  .navbar a {
    font-size: 2rem;
    color: #f1ebba;
    width: 12rem; }

.nav {
  color: #f1ebba; }
  .nav .nav-tabs {
    border-left: solid;
    border-left-width: 1px;
    border-color: #f1ebba; }

.nav-tabs > li > a:hover {
  color: rgba(88, 70, 180, 0.66); }

.presentationblocks {
  text-align: center;
  max-width: 90%;
  padding-left: 10%; }
  .presentationblocks h2 {
    font-size: 5rem; }
  .presentationblocks p {
    font-size: 3rem; }
  .presentationblocks .btn {
    color: rgba(88, 70, 180, 0.66);
    font-size: 3rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%); }
  .presentationblocks .presentationtitle {
    border-bottom: #0504af;
    border-bottom-style: solid;
    margin-bottom: 2rem; }
  .presentationblocks .present {
    border: 0px;
    background-color: #f1ebba;
    border-bottom-style: ridge;
    border-bottom-width: 3px;
    border-color: #ed3724;
    min-height: 75rem; }
  .presentationblocks img {
    opacity: .8;
    height: 26rem;
    width: 26rem; }

#app {
  background-color: #f1ebba;
  font-family: serif; }

.errorpage {
  background-image: url(https://scontent-dft4-2.xx.fbcdn.net/v/t31.0-8/13765803_10105983576377005_3154732784227313719_o.jpg?oh=faba862bb71fbe3f6ec93715284211ad&oe=59B93ED9);
  background-size: cover;
  min-height: 70rem; }
  .errorpage h1 {
    margin-top: 0rem;
    color: rgba(88, 70, 180, 0.66);
    font-size: 7rem;
    text-align: center;
    padding-top: 25%;
    text-shadow: 2px 2px white; }

.projectspage {
  width: 90%;
  margin-left: 5%; }
  .projectspage .carouselbox {
    text-align: right;
    min-width: 65rem; }
    .projectspage .carouselbox .btn {
      background-color: rgba(88, 70, 180, 0.66);
      color: #f1ebba;
      -webkit-box-shadow: inset 0 1px 5px 5px #7468af;
      box-shadow: inset 0 1px 5px 5px #7468af; }
  .projectspage .project-title {
    font-size: 3rem; }
  .projectspage .project-explanation {
    font-size: 2rem; }
  .projectspage .carousel {
    height: 40rem;
    min-width: 60rem; }
    .projectspage .carousel .carousel-inner .item .projectphoto {
      margin: 0 auto;
      line-height: 1;
      max-height: 40rem;
      min-height: 30rem; }
  .projectspage .jumbo-container {
    margin-top: 5%;
    padding: 5% 2% 2% 2%;
    border-bottom-color: rgba(88, 70, 180, 0.66);
    border-bottom-style: dotted; }

.personalpage {
  margin-top: 5rem;
  width: 80%;
  margin-left: 10%;
  height: 110%; }
  .personalpage .personals {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom-style: ridge;
    border-bottom-width: 3px;
    border-color: rgba(88, 70, 180, 0.66); }
  .personalpage .image {
    max-height: 35rem;
    margin-left: auto;
    margin-right: auto; }
  .personalpage .personaltext {
    margin-left: auto;
    margin-right: auto; }

.thevoid {
  background-color: #0e0d57;
  min-height: 10vh; }

.contacts {
  width: 80%;
  margin-left: 10%;
  margin-top: 5rem;
  height: 85vh; }
  .contacts .row {
    padding-left: 20%; }
  .contacts .image {
    max-height: 35rem;
    max-width: 35rem;
    margin-bottom: 3rem; }
  .contacts ul {
    font-size: 3rem; }
  .contacts h1 {
    font-size: 5rem; }

/*# sourceMappingURL=style.css.map */
