$purple: rgba(88, 70, 180, 0.66);
$yellow: rgb(241,235,186);
// HomePage
.logolink {
  margin-top: 2px;
  background-color: $purple;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(5,4,175);
  border-radius: 50px;
  color: $yellow;
  .realdeallogo {
     width: 3rem
  }
}

a {
  font-size: "xx-large"; }
.splash-jumbo{
  min-height: 70rem;
  text-align: right;
  background-image: url(https://scontent-dft4-2.xx.fbcdn.net/v/t31.0-8/11062428_10105231845571565_3157298149122899086_o.jpg?oh=ad12ce7c659d31a621fc2756498050d3&oe=59760BC5);
  width: 100%;
  opacity: .7;
  background-size: cover;
  .jumbotext {
    font-size: 8rem;
    text-align: right;
    margin-top: 25%;
    text-shadow: 2px 2px #f5f5f5;
    color: plum;
    color: $purple;
  }
  .jumbotext2 {
    font-size: 5rem;
    text-align: right;
    text-shadow: 2px 2px #f5f5f5;
    color: plum;
    color: $purple;
  }
}

/// NavBAr
.navbar {
  margin-bottom: 0;
  .btn {
    width: 13rem;
  }
  a {
    font-size: 2rem;
    color: $yellow;
    width: 12rem;
  }
  color: $yellow;
  background-color: $purple;
}
.nav {
  color: $yellow;
  .nav-tabs {
    border-left: solid;
    border-left-width: 1px;
    border-color: $yellow;
  }
}


.presentationblocks {
  text-align: center;
  max-width: 90%;
  padding-left: 10%;
  h2 {
    font-size: 5rem;
  }
  p {
    font-size: 3rem;
  }
  .btn {
    color:  $purple;
    font-size: 3rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
  }
  .presentationtitle {
    border-bottom: rgb(5,4,175);
    border-bottom-style: solid;
    margin-bottom: 2rem;
  }
  .present {
    border: 0px;
    background-color: $yellow;
    border-bottom-style: ridge;
    border-bottom-width: 3px;
    border-color: rgb(237,55,36);
    min-height: 75rem;
  }
  img {
    opacity: .8;
    height: 26rem;
    width: 26rem;
  }
}
#app {
  background-color: $yellow;
  font-family: serif;
  min-height: 125rem;
}
.errorpage {
  background-image: url(https://scontent-dft4-2.xx.fbcdn.net/v/t31.0-8/13765803_10105983576377005_3154732784227313719_o.jpg?oh=faba862bb71fbe3f6ec93715284211ad&oe=59B93ED9);
  background-size: cover;
  min-height : 70rem;
  h1 {
    margin-top: 0rem;
    color: $purple;
    font-size: 7rem;
    text-align: center;
    padding-top: 25%;
    text-shadow: 2px 2px white;
  }
}


/////////////////////////
.projectspage {
  width : 90%;
  margin-left: 5%;
  .carouselbox {
    text-align: right;
    min-width: 65rem;
    .btn {
      background-color: $purple;
      color: $yellow;
      -webkit-box-shadow: inset 0 1px 5px 5px rgba(116,104,175,1);
      box-shadow: inset 0 1px 5px 5px rgba(116,104,175,1);
    }
  }
  .project-title {
    font-size: 3rem;
  }
  .project-explanation {
    font-size: 2rem;
  }
  .carousel {
    height: 40rem;
    min-width: 60rem;
    .carousel-inner {
      .item{
        .projectphoto {
          margin: 0 auto;
          line-height: 1;
          max-height: 40rem;
          min-height: 30rem;
        }
      }
    }

  }
  .jumbo-container {
    margin-top: 5%;
    padding: 5% 2% 2% 2%;
    border-bottom-color: $purple;
    border-bottom-style: dotted;
  }
}

.thevoid {
  background-color: rgba(14,13,87,1);
  min-height: 100px;
}
