$purple: rgba(88, 70, 180, 0.66);
$yellow: rgb(241,235,186);
// HomePage
.logolink {
  margin-top: 2px;
  background-color: $purple;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(5,4,175);
  border-radius: 50px;
  color: $yellow;
}
.realdeallogo {
   width: 3rem
}

a {
  font-size: "xx-large"; }
.splash-jumbo{
  min-height: 70rem;
  text-align: right;
  background-image: url(http://res.cloudinary.com/eperiou/image/upload/v1501262864/japansplash_p6jbb7.jpg);
  width: 100%;
  opacity: .7;
  background-size: cover;
  .jumbotext {
    font-size: 8rem;
    text-align: right;
    margin-top: 25%;
    text-shadow: 2px 2px #f5f5f5;
    color: plum;
    color: $purple;
  }
  .jumbotext2 {
    font-size: 5rem;
    text-align: right;
    text-shadow: 2px 2px #f5f5f5;
    color: plum;
    color: $purple;
  }
}

/// NavBAr
.navbar {
  margin-bottom: 0;
  .btn {
    width: 13rem;
  }
  a {
    font-size: 2rem;
    color: $yellow;
    width: 12rem;
  }
  color: $yellow;
  background-color: $purple;
}
.nav {
  color: $yellow;
  .nav-tabs {
    border-left: solid;
    border-left-width: 1px;
    border-color: $yellow;
  }
}
.nav-tabs>li>a:hover {
    color: $purple;
}
.nav-tabs>li>a:focus {
    color: $purple;
}

.presentationblocks {
  text-align: center;
  max-width: 90%;
  padding-left: 10%;
  h2 {
    font-size: 5rem;
  }
  p {
    font-size: 3rem;
  }
  .btn {
    color:  $purple;
    font-size: 3rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
  }
  .presentationtitle {
    border-bottom: rgb(5,4,175);
    border-bottom-style: solid;
    margin-bottom: 2rem;
  }
  .present {
    border: 0px;
    background-color: $yellow;
    border-bottom-style: ridge;
    border-bottom-width: 3px;
    border-color: rgb(237,55,36);
    min-height: 75rem;
  }
  img {
    opacity: .8;
    height: 26rem;
    width: 26rem;
  }
}
#app {
  background-color: $yellow;
  font-family: serif;
}
.errorpage {
  background-image: url(http://res.cloudinary.com/eperiou/image/upload/v1501262980/13697093_10105983576377005_3154732784227313719_n_mz7opb.jpg);
  background-size: cover;
  min-height : 70rem;
  h1 {
    margin-top: 0rem;
    color: $purple;
    font-size: 7rem;
    text-align: center;
    padding-top: 25%;
    text-shadow: 2px 2px white;
  }
}


/////////////////////////
.projectspage {
  width : 90%;
  margin-left: 5%;
  .carouselbox {
    text-align: right;
    min-width: 65rem;
    .btn {
      background-color: $purple;
      color: $yellow;
      -webkit-box-shadow: inset 0 1px 5px 5px rgba(116,104,175,1);
      box-shadow: inset 0 1px 5px 5px rgba(116,104,175,1);
    }
  }
  .project-title {
    font-size: 3rem;
  }
  .project-explanation {
    font-size: 2rem;
  }
  .carousel {
    height: 40rem;
    min-width: 60rem;
    .carousel-inner {
      .item{
        .projectphoto {
          margin: 0 auto;
          line-height: 1;
          max-height: 40rem;
          min-height: 30rem;
        }
      }
    }

  }
  .jumbo-container {
    margin-top: 5%;
    padding: 5% 2% 2% 2%;
    border-bottom-color: $purple;
    border-bottom-style: dotted;
  }
}
.personalpage {
  margin-top : 5rem;
  width: 80%;
  margin-left: 10%;
  height: 110%;
  .personals {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom-style: ridge;
    border-bottom-width: 3px;
    border-color: $purple;
  }
  .image {
    max-height: 35rem;
    margin-left: auto;
    margin-right:auto;
  }
  .personaltext {
    margin-left: auto;
    margin-right:auto;
  }
}
.thevoid {
  background-color: rgba(14,13,87,1);
  min-height: 10vh;
}
.contacts {
  width: 80%;
  margin-left: 10%;
  margin-top: 5rem;
  height: 85vh;
  .row {
    padding-left: 20%;
  }
  .image {
    max-height: 35rem;
    max-width: 35rem;
    margin-bottom: 3rem;
  }
  ul {
    font-size: 3rem;
  }
  h1 {
    font-size:5rem;
  }
}
